.navbar-nav .nav-item .nav-link{
    color: lightgray;
}

.navbar .navbar-collapse .navbar-nav .nav-item a:hover{
    display: block;
    color: black;
}

.navbar{
    background-image: url('../images/pozadie-navbar.png');
    margin-bottom: 25px;
}