
.navbar-nav .nav-item .nav-link{
    color: lightgray;
}

.navbar .navbar-collapse .navbar-nav .nav-item a:hover{
    display: block;
    color: black;
}

.navbar{
    background-color: #353535;
    margin-bottom: 25px;
}