body {
    background-image: url('../images/pozadie.png');
    background-size: cover;
    background-repeat: no-repeat;
}

p{
    font-family: Arial, Verdana, sans-serif;
    color: lightgray;
}

h3, h2{
    font-family: Arial, Verdana, sans-serif;
    color: lightgray;
    text-align: center;
}

.entry{
    margin-bottom: 50px;
}

.header .col-md-1, .col-md-8{
    text-transform: uppercase;
    line-height: 22px;
    margin: 0px;
}

.header p{
    margin-bottom: 0px;
}

.header img {
    max-height: 22px;
    max-width: 22px;
}

.text{
    border-left: 2px solid white;
}

.card {
    display:inline-block;
    background-color: #353535;
    color: lightgray;
}

.card .card-body h1{
    font-size: 100%;
}

.card-img-top{
    width:100%;
    height:auto;
}

