body {
    background: #353535;
    font-family: Arial, Verdana, sans-serif;
    color: lightgray;
}

.navbar-nav .nav-item .nav-link{
    color: lightgray;
}

.navbar .navbar-collapse .navbar-nav .nav-item a:hover{
    display: block;
    color: gold;
}

.navbar{
    background-color: #353535;
}

hr{
    border-radius: 1px;
    color: lightgray;
}

.homeEntry{
    margin-left: 15%;
    padding: 10px;
}

.homeEntryLeft{
    width: 30%;
    max-height: 15%;
    padding-top: 5px;
}

.homeEntryRight{
    margin-left: 10%;
    width: 30%;
    max-height: 15%;
    padding-top: 5px;
}

.homeEntryRight, .homeEntryLeft{
    display:inline;
}

.homeEntryImage, .homeEntryText{
    width:15%;
    float: left;
}