body {
    background: #353535;
    font-family: Arial, Verdana, sans-serif;
    color: lightgray;
}

.navbar-nav .nav-item .nav-link{
    color: lightgray;
}

.navbar .navbar-collapse .navbar-nav .nav-item a:hover{
    display: block;
    color: gold;
}

.navbar{
    background-color: #353535;
}

hr{
    border-radius: 1px;
    color: lightgray;
}

.homeEntry{
    width: 70%;
    max-height: 15%;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: px;
}

.homeEntryLeft{
    width: 50%;
    max-height: 15%;
    float: left;
}

.homeEntryRight{
    width: 50%;
    max-height: 15%;
    float: right;
}

.homeEntryImage{
    width: 50%;
    float: left;
}

.homeEntryText{
    width: 50%;
    float: left;
}

